.background-container{
  background-image: url(../../../assets/login.svg);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  max-width: 368px;
  height: 600px;
  border: 1px solid red;
}


@media screen and (max-width: 1920px) {
  .background-container{
    background-image: url(../../../assets/login1920.svg);
  }
}

@media screen and (max-width: 1366px) and (max-height: 770px) {
  .background-container{
    background-image: url(../../../assets/login1366.svg);
  }
  .form-container{
    height: 500px;
  }
}

