<div class="color-primary">
  <div class="add-field">
    <div mat-dialog-content>
      <h2>Add Fields</h2>
      <mat-form-field>
        <input formControlName="fieldName" ngDefaultControl matInput placeholder="Field Name">
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="fieldType" color='accent'>
          <mat-option value="text-field">Text Field</mat-option>
          <mat-option value="radio-btn">Radio Button</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <span class="right-align-next-element"></span>
      <!-- <button class="secondary-btn" mat-button (click)="closeModal()">Cancel</button>
      <button [disabled]="fieldName.invalid" class="primary-btn" mat-button (click)="addFields()" cdkFocusInitial>Add field</button> -->
    </div>
</div>
</div>
