<div class="background-container">
  <h2>Web Health Store</h2>
  <div class='form-container'>
  <form [formGroup]='loginForm' (ngSubmit)='onLoginClick()'>
    <mat-form-field appearance="fill">
      <mat-label style="color: #64DD17;">Email</mat-label>
      <input matInput formControlName='email'>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label style="color: #64DD17;">Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName='password'>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-stroked-button class="login-button" type="submit">Continue</button>
  </form>
    <p style="text-align: center; font-size: 1em; margin-top: 10px; margin-bottom: -10px;">OR</p>
    <button class="alternative-login"><img src="../../../assets/google-icon.svg" width="29px" height="29px">Sign In with Google</button>
    <button class="alternative-login"><img src="../../../assets/facebook-3.svg" width="29px" height="29px">Continue with Facebook</button>
  </div>
</div>
