<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sort By
      </mat-panel-title>
      <mat-panel-description>
        Default
       <!--  Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button>I'm visible because I am open</button>
  </mat-expansion-panel>
</mat-accordion>
