h2{
  margin-top: 80px;
  text-align: center;
  font-size: 2rem;
  font-family: 'Bree Serif', serif;
}

.section-products{
  margin-top: 20px;
}
.example-small-box, .example-large-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: center; */
  margin: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100%;
  width: 97%;
}

.mat-card{
  width: 300px
}

.example-large-box {
  height: 250px;
  width: 150px;
}


@media screen and (max-width: 440px) {
  .mat-card img{
    width: 100%
  }
}
