 .top-products{
  background-color: #00796b;
}

.header-container{
  width: 75%;
  margin: 0 auto;
}

h2{
  text-align: center;
  font-size: 2rem;
}

h2:before,
h2:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.section-products{
  margin-top: 20px;
}
.container-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  margin: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100%;
  width: 97%;
}

::ng-deep .mat-tab-group {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.mat-card{
  width: 300px;
  margin-top: 10px;
  text-align: center;
}

.example-large-box {
  height: 250px;
  width: 150px;
}

@media screen and (max-width: 720px) {
  h2{
    font-size: 1.5em;
  }
}


@media screen and (max-width: 440px) {
  .mat-card img{
    width: 100%
  }
  h2:before,
  h2:after {
  width: 5%;
}
}

