 .top-products{
  background-color: #00796b;
}

h2{
  text-align: center;
  font-size: 2rem;
  font-family: 'Bree Serif', serif;
}

.section-products{
  margin-top: 20px;
}
.container-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  margin: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100%;
  width: 97%;
}

::ng-deep .mat-tab-group {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.mat-card{
  width: 300px;
  margin-top: 10px;
  text-align: center;
}

.example-large-box {
  height: 250px;
  width: 150px;
}


@media screen and (max-width: 440px) {
  .mat-card img{
    width: 100%
  }
}

