<div class="cart-background-container">
  <button (click)='emptyOrder()'>EMPTY CART</button>
  <div class="flex-content-container">
    <section class="left-side-container">
      <table mat-table [dataSource]="itemsInCart | async" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="products">
          <th mat-header-cell *matHeaderCellDef> Product </th>
          <td mat-cell *matCellDef="let element"><img src="../../../assets/shop-products/food-bevarages-producsts/1.jpg" width="150" height="150" style="margin-top: 20px;"><p>{{element.nameOfItem}}</p></td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.priceOfItem}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.priceOfItem}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </section>
    <section class="right-side-container">
      <div class="order-summary"></div>
    </section>
  </div>

</div>


