.cart-background-container {
  background-image: url(../../../assets/products-background/1920.svg);
  min-height: 100vh;
}

.flex-content-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: 0 auto;
}

.left-side-container {
  min-width: 330px;
  width: 50%;
}

.left-side-container img{
  transform: skew(5deg, 5deg);
  border-radius: 3px;
}

.mat-elevation-z8 {
  min-width: 330px;
  width: 100%;
  background-color: #00796b;
}

.mat-header-cell {
  font-size: 1.2em;
  color: white;
}

.matColumnDef {
  background-color: red;
}

.right-side-container {
  margin-left: 2px;
  min-width: 330px;
  width: 50%;
}

.order-summary {
  width: 100%;
  height: 300px;
  background-image: url(../../../assets/shop-products/cart-summary/900background.svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

img {
  width: 125px;
  height: 125px;
}

.options-buttons {
  margin: 15px;
}

.options-buttons a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1000px) {
  nav a {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  .flex-content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .right-side-container {
    order: -1;
    margin-left: 0px;
  }
  .mat-header-cell {
    font-size: 1em;
    padding-left: 3px;
  }
  img {
    width: 125px;
    height: 125px;
  }
  nav {
    height: initial;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav a {
    font-size: 16px;
    padding-top: 5px;
    text-decoration: wavy;
    text-shadow: #00796b;
    text-decoration: underline;
    text-decoration-color: #00796b;
  }
  nav a:hover {
    text-decoration: underline;
  }
}


@media screen and (max-width: 350px) {
  img {
    width: 100px;
    height: 100px;
  }
}
