.cart-background-container{
  background-image: url(../../../assets/products-background/1920.svg);
  min-height: 100vh;
}

.flex-content-container{
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: 0 auto;
  border: 3px solid purple;
}

.left-side-container{
  width: 50%;
  border: 1px solid pink;
}

.mat-elevation-z8{
  background-color: #00796b;
}

.matColumnDef{
  background-color: red;
}

.right-side-container{
  width: 50%;
 border: 1px solid yellow;
}

.order-summary{
  width: 100%;
  height: 300px;
  background-color: rosybrown;
}


@media screen and (max-width: 900px) {
  .flex-content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-side-container{
    order: -1;
  }

}
