<nav>
  <div class="desktop-view">
    <a routerLink='../foodbeverages'>Food and Beverages</a>
    <a routerLink='../sports'>Herbs and Botanicals</a>
    <a routerLink='../sports'>Beauty and Personal care</a>
    <a routerLink='../sports'>Sports and Fitness</a>
    <a routerLink='../sports'>Vitamins and Supplements</a>
    <a routerLink='../sports'>Superfoods</a>
    <a routerLink='../sports'>Diet</a>
  </div>
  <div class="mobile-view">
    <button mat-icon-button class="example-icon-top" [matMenuTriggerFor]="categoriesMenu">
      <button mat-stroked-button color="accent" *ngIf='!showClose' aria-label="Menu button toggle">Categories</button>
      <span class="material-icons" *ngIf='showClose' aria-label="Close Menu">highlight_off</span>
  </button>
  <mat-menu #categoriesMenu>
    <ng-template matMenuContent>
      <menu mat-menu-item><a routerLink='../foodbeverages' mat-raised-button color="accent" aria-label="Shop link">Food and Beverages</a></menu>
      <menu mat-menu-item><a routerLink='../sports' mat-raised-button color="accent" aria-label="Shop link">Herbs and Botanicals</a></menu>
      <menu mat-menu-item><a routerLink='../sports' mat-raised-button color="accent" aria-label="Shop link">Beauty and Personal care</a></menu>
      <menu mat-menu-item><a routerLink='../sports' mat-raised-button color="accent" aria-label="Shop link">Sports and Fitness</a></menu>
      <menu mat-menu-item><a routerLink='../sports' mat-raised-button color="accent" aria-label="Shop link">Vitamins and Supplements</a></menu>
      <menu mat-menu-item><a routerLink='../sports' mat-raised-button color="accent" aria-label="Shop link">Superfoods</a></menu>
      <menu mat-menu-item><a routerLink='../sports' mat-raised-button color="accent" aria-label="Shop link">Diet</a></menu>
      <menu mat-menu-item><a routerLink='../sports' mat-raised-button color="accent" aria-label="Shop link">Food and Beverages</a></menu>
    </ng-template>
  </mat-menu>
  </div>
</nav>
