<div class="page2">
  <div class="page__demo2">
    <div class="page__group2">
      <div class="rating2">
        <input type="radio" name="rating-star2" class="rating__control2 screen-reader" id="1" (click)='clickedHere($event)'>
        <input type="radio" name="rating-star2" class="rating__control2 screen-reader" id="2" (click)='clickedHere($event)'>
        <input type="radio" name="rating-star2" class="rating__control2 screen-reader" id="3" (click)='clickedHere($event)'>
        <input type="radio" name="rating-star2" class="rating__control2 screen-reader" id="4" (click)='clickedHere($event)'>
        <input type="radio" name="rating-star2" class="rating__control2 screen-reader" id="5" (click)='clickedHere($event)'>
        <label for="1" class="rating__item2">
          <svg class="rating__star2">
            <use xlink:href="#star"></use>
          </svg>
          <span class="screen-reader">1</span>
        </label>
        <label for="2" class="rating__item2">
          <svg class="rating__star2">
            <use xlink:href="#star"></use>
          </svg>
          <span class="screen-reader">2</span>
        </label>
        <label for="3" class="rating__item2">
          <svg class="rating__star2">
            <use xlink:href="#star"></use>
          </svg>
          <span class="screen-reader">3</span>
        </label>
        <label for="4" class="rating__item2">
          <svg class="rating__star2">
            <use xlink:href="#star"></use>
          </svg>
          <span class="screen-reader">4</span>
        </label>
        <label for="5" class="rating__item2">
          <svg class="rating__star2">
            <use xlink:href="#star"></use>
          </svg>
          <span class="screen-reader">5</span>
        </label>
      </div>
      <span class="page__hint2" style="font-size: 18px; text-align: center;">Satisfied with the product? Give a star!</span>
    </div>
  </div>
</div>
