.main-full-width-container {
  width: 100%;
  min-height: 93.2vh;
  background-image: url(../../../assets/shop-products/details-each-product/details1920background.svg);
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when
   the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
   on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
   while the background image is loading */
  /* background-color: #464646;
  font-size: 16px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.product-details-container {
  /* border: 1px solid pink; */
  width: 75%;
  min-width: 970px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.top-details-container {
  height: 50%;
  width: 98%;
  min-width: 900px;
  /* border: 1px solid yellowgreen; */
  display: flex;
}

.image-box {
  width: 33%;
  height: 100%;
  border-radius: 20px;
}

.image-box img {
  max-height: 100%;
  width: 100%;
  border-radius: 20px;
}

.details-box {
  padding-left: 10px;
  width: 67%;
  color: white;
  /* border: 1px solid red; */
}

.bottom-details-container {
  margin-top: 16px;
  height: 50%;
  width: 98%;
  min-width: 900px;
  /* border: 1px solid rebeccapurple; */
  margin-left: 50px;
}

.reviews-container {
  display: flex;
  justify-content: space-evenly;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 1100px) {
  .product-details-container {
    margin-top: 20px;
    min-width: 770px;
  }
  .top-details-container {
    min-width: 700px;
  }
  .image-box {
    width: 280px;
  }
  .image-box img {
    width: 280px;
  }
  .bottom-details-container {
    min-width: 770px;
  }
}

@media screen and (max-width: 900px) {
  .main-full-width-container {
    background-image: url(../../../assets/shop-products/details-each-product/1024productdetailsbck.svg);
  }
  .product-details-container {
    min-width: 570px;
  }
  .top-details-container {
    min-width: 500px;
  }
  .bottom-details-container {
    min-width: 660px;
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .product-details-container {
    min-width: 570px;
    margin-left: 20px;
  }
  .top-details-container {
    min-width: 500px;
  }
  .bottom-details-container {
    min-width: 500px;
    flex-direction: column;
  }
  .details-box {
    width: 100%;
  }
  .reviews-container {
    flex-direction: column;
  }
  .page {
    order: -1;
  }
}

@media screen and (max-width: 640px) {
  .product-details-container {
    margin-top: 20px;
    min-width: 370px;
    margin-left: 20px;
  }
  .top-details-container {
    flex-direction: column;
    min-width: 300px;
  }
  .bottom-details-container {
    min-width: 370px;
    margin-left: 0;
  }
}

@media screen and (max-width: 420px) {
  .main-full-width-container {
    background-image: url(../../../assets/shop-products/details-each-product/mobile420.svg);
  }
  .product-details-container {
    min-width: 300px;
    margin-left: 5px;
  }
  .top-details-container {
    flex-direction: column;
    min-width: 300px;
  }
  .image-box {
    width: 230px;
  }
  .image-box img {
    width: 230px;
  }
  .bottom-details-container {
    min-width: 300px;
    margin-left: 5px;
  }
}

/*STARS*/

/*
=====
DEPENDENCES
=====
*/

.screen-reader {
  width: var(--screenReaderWidth, 1px) !important;
  height: var(--screenReaderHeight, 1px) !important;
  padding: var(--screenReaderPadding, 0) !important;
  border: var(--screenReaderBorder, none) !important;

  position: var(--screenReaderPosition, absolute) !important;
  clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
  overflow: var(--screenReaderOverflow, hidden) !important;
}

/*
=====
CORE STYLES
=====
*/

.rating {
  --uiRatingColor: var(--ratingColor, #eee);
  --uiRatingColorActive: var(--ratingColorActive, #ffcc00);

  display: var(--ratingDisplay, flex);
  font-size: var(--ratingSize, 1rem);
  color: var(--uiRatingColor);
}

.rating__control:nth-of-type(1):focus ~ .rating__item:nth-of-type(1)::before,
.rating__control:nth-of-type(2):focus ~ .rating__item:nth-of-type(2)::before,
.rating__control:nth-of-type(3):focus ~ .rating__item:nth-of-type(3)::before,
.rating__control:nth-of-type(4):focus ~ .rating__item:nth-of-type(4)::before,
.rating__control:nth-of-type(5):focus ~ .rating__item:nth-of-type(5)::before {
  content: "";
  box-shadow: 0 0 0 var(--ratingOutlineWidth, 4px) var(--uiRatingColorActive);

  position: absolute;
  top: -0.15em;
  right: 0;
  bottom: -0.15em;
  left: 0;
  z-index: -1;
}

.rating__item {
  cursor: pointer;
  position: relative;
}

.rating__item {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.rating__star {
  display: block;
  width: 1em;
  height: 1em;

  fill: currentColor;
  stroke: var(--ratingStroke, #222);
  stroke-width: var(--ratingStrokeWidth, 1px);
}

.rating:hover,
.rating__control:nth-of-type(1):checked ~ .rating__item:nth-of-type(1),
.rating__control:nth-of-type(2):checked ~ .rating__item:nth-of-type(-n + 2),
.rating__control:nth-of-type(3):checked ~ .rating__item:nth-of-type(-n + 3),
.rating__control:nth-of-type(4):checked ~ .rating__item:nth-of-type(-n + 4),
.rating__control:nth-of-type(5):checked ~ .rating__item:nth-of-type(-n + 5) {
  color: var(--uiRatingColorActive);
}

.rating__item:hover ~ .rating__item {
  color: var(--uiRatingColor);
}

/*
=====
SETTINGS
=====
*/

.rating {
  --ratingSize: 2rem;
  --ratingColor: #eee;
  --ratingColorActive: #ffcc00;
}

/*
=====
DEMO
=====
*/

.page {
  display: flex;
}

.page__demo {
  margin: auto;
}

.page__group {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.page__hint {
  display: block;
  font-weight: 700;
  margin-top: 1rem;
}

@media (min-width: 641px) {
  .page__demo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .page__group {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
}
