<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class='side'>
    Drawer contentttt<br>
    <a href="assf">sfgasga</a>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-content-container">
      <h1 class="header-categories">Categories</h1>
      <div class="images-section">
        <div class="image-separator">
          <img role="presentation" src="../../../assets/shop-product-categories/1.jpg" alt="first-category" width="300" height="300">
          <button mat-raised-button color="primary">Primary</button>
        </div>
        <div class="image-separator">
          <img role="presentation" src="../../../assets/shop-product-categories/2.jpg" alt="first-category" width="300" height="300">
          <button mat-raised-button color="primary">Primary</button>
        </div>
        <div class="image-separator">
          <img role="presentation" src="../../../assets/shop-product-categories/3.jpg" alt="first-category" width="300" height="300">
          <button mat-raised-button color="primary">Primary</button>
        </div>
        <div class="image-separator">
          <img role="presentation" src="../../../assets/shop-product-categories/4.jpg" alt="first-category" width="300" height="300">
          <button mat-raised-button color="primary">Primary</button>
        </div>
        <div class="image-separator">
          <img role="presentation" src="../../../assets/shop-product-categories/5.jpg" alt="first-category" width="300" height="300">
          <button mat-raised-button color="primary">Primary</button>
        </div>
        <div class="image-separator">
          <img role="presentation" src="../../../assets/shop-product-categories/6.jpg" alt="first-category" width="300" height="300">
          <button mat-raised-button color="primary">Primary</button>
        </div>
        <div class="image-separator">
          <img role="presentation" src="../../../assets/shop-product-categories/7.jpg" alt="first-category" width="300" height="300">
          <button mat-raised-button color="primary">Primary</button>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
