.master{
  min-height: 100vh;
}

.example-container{
  margin: 0;
  /* height: 100vh; */
  overflow: none;
}

.side{
  background-color: #00796B;
}

.main-content-container{
  /* height: 100vh; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(../../../assets/blob-scene-haikei.svg);
}

.header-categories{
  color: white;
  font-size: 2em;
  padding-top: 20px;
  text-align: center;
}

.images-section{
  width: 90%;
  height: 95%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img{
  border-radius: 0px 50px 10px 80px;
  margin-bottom: 15px;
  margin-left: 20px;
}
button{
  margin-bottom: 10px;
}
svg{
  width: 66%;
  margin-bottom: 10px;
}
.image-separator{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  flex: 1 0 21%; /* explanation below */
}

@media screen and (min-width: 1200px) {
  .main-content-container{
    background-image: url(../../../assets/shop-home/blob-scene-haikei.svg);
  }
}

/* @media screen and (min-height: 1500px) {
  .main-content-container{
    background-image: url(../../../assets/shop-home/2000.svg);
  }
} */

@media screen and (max-height: 1530px) {
  .main-content-container{
    background-image: url(../../../assets/shop-home/2600.svg);
  }
}

