.mall-slide {
  /* background-color: #00796b; */
  width: 100%;
  height: 250px;
  z-index: -1;
  margin: 0 auto;
}

.mall-show-slide img{
  /* padding-top: 10px; */
  margin: 0;
  border-radius: 0px;
  transform:  rotate(0deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mall-slide .slid-content {
  margin: 0 auto;
  width: 100%;
  height: 260px !important;
  overflow: hidden;
}

.mall-slide .slid-content .mall-carousel-ind {
  position: absolute;
  top: 230px;
  width: 100%;
  line-height: 0!important;
  text-align: center;
  font-size: 0;
  z-index: 10;
}

.mall-carousel-ind ul {
  display: inline-block;
  padding: 5px;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.mall-carousel-ind li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  font-size: 14px;
  background-color: #e2e2e2;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}


.mall-carousel-ind li.mall-this {
    background-color: #fff;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    width: 30px;
    border-radius: 14px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.master{
  min-height: 100vh;
  background-image: url(../../../assets/blob-scene-haikei.svg);
}

.example-container{
  margin: 0;
  /* height: 100vh; */
  overflow: none;
}

.side{
  background-color: #00796B;
}

.main-content-container{
  /* height: 100vh; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.header-categories{
  color: white;
  font-size: 2em;
  padding-top: 60px;
  text-align: center;
}

.images-section{
  width: 90%;
  height: 95%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img{
  border-radius: 0px 50px 10px 80px;
  margin-bottom: 15px;
  margin-left: 20px;
  transform: rotate(5deg);
}

.my_class{
  transform: rotate(-5deg);
}

button{
  margin-bottom: 10px;
}
svg{
  width: 66%;
  margin-bottom: 10px;
}
.image-separator{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  flex: 1 0 21%; /* explanation below */
}

.test{
  margin: 0;
  width: 99.9%;
  height: 250px;
 /*  background-image: url(../../../assets/shop-home/header-top/brooke-lark-W9OKrxBqiZA-unsplash.jpg); */
  /* background-size: cover;
  background-position-y: -10em; */
}

/* @media screen and (min-width: 1200px) {
  .main-content-container{
    background-image: url(../../../assets/shop-home/blob-scene-haikei.svg);
  }
} */

/* @media screen and (min-height: 1500px) {
  .main-content-container{
    background-image: url(../../../assets/shop-home/2000.svg);
  }
} */

@media screen and (max-height: 1530px) {
  .main-content-container{
    background-image: url(../../../assets/shop-home/2000.svg);
  }
}

