<div class="welcome-section">
  <mat-grid-list cols="2" rowHeight="fit" role="list">
    <mat-grid-tile style="border-radius: 20px;" [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows">
      <div class="container">
        <div class="header-p">
          <h1 class="h1-text mat-headline">Web Health Store</h1>
          <p class="mat-body-strong">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, porro adipisci quas veritatis sed ipsam animi inventore veniam quidem nostrum delectus labore, quia facilis minus praesentium doloremque officia temporibus vitae?</p>
        </div>
        <div class="text-p">
          <h1 class="h1-text mat-headline">Make your health top priority</h1>
        </div>
        <div class="header-p" style="width: 75%;">
          <h1 class="h1-text mat-headline">Web Health Store</h1>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="tiles[1].cols" [rowspan]="tiles[1].rows"><img src="../../../assets/hometo.jpg"></mat-grid-tile>
    <!-- <mat-grid-tile [colspan]="tiles[2].cols" [rowspan]="tiles[2].rows" [style.background]="tiles[0].color" style="border-radius: 25px;">3</mat-grid-tile> -->
  </mat-grid-list>
</div>
<app-home-view2></app-home-view2>
