<mat-toolbar color="accent">
  <div class="example-container">

    <div>
      <button mat-icon-button class="example-icon-top" [matMenuTriggerFor]="topMenu">
          <span class="material-icons" *ngIf='!showClose' aria-label="Menu button toggle">menu</span>
          <span class="material-icons" *ngIf='showClose' aria-label="Close Menu">highlight_off</span>
      </button>
      <mat-menu #topMenu>
        <ng-template matMenuContent>
         <ng-container *ngIf='signedIn'>
          <menu mat-menu-item><a mat-raised-button color="accent">Account
              <img width="25px" height="25px" [src]="photo | safe" style="border-radius: 15px;">
          </a></menu></ng-container>
          <menu mat-menu-item><a routerLink='shop' mat-raised-button color="accent" aria-label="Shop link">Shop</a></menu>
          <menu mat-menu-item><a routerLink='auth/login' mat-raised-button color="accent" aria-label="Blog link">Blog</a></menu>
          <ng-container *ngIf='!signedIn && signedIn!==null'>
            <menu mat-menu-item><a routerLink='auth/login' mat-raised-button color="accent" aria-label="Login link">Login</a></menu>
            <menu mat-menu-item><a routerLink='auth/register' mat-raised-button color="accent" aria-label="Register link">Register</a></menu>
          </ng-container>
          <ng-container *ngIf='signedIn'>
            <menu mat-menu-item><a routerLink='/' mat-raised-button color="accent" aria-label="Register link" (click)='logoutUser()'>Log Out</a></menu>
          </ng-container>
        </ng-template>
      </mat-menu>
      <!-- <img class='logo' width="30px" height="30px" src="../../../assets/store-logo.png"> -->
      <mat-icon class='favourite' color="primary">favorite</mat-icon>
      <a routerLink='/'><span style="margin-left: 6px; font-size: 25px;">Web Health Store</span></a>
    </div>

    <div class="right-menu">
      <!-- <ng-template [ngIf]='showCart'>
        <a routerLink='/' class="fking-icons"><span class="material-icons" matBadge="0" matBadgeColor="warn">
          shopping_cart
          </span></a>
      </ng-template> -->
      <!-- <ng-template [ngIf]='!showCart'> -->
        <a class="example-spacer-right" routerLink='shop' mat-raised-button color="primary" aria-label="Shop link">Shop</a>
      <!-- </ng-template> -->
        <a class="example-spacer-right" routerLink='auth/login' mat-raised-button color="primary" aria-label="Blog link">Blog</a>
        <ng-template [ngIf]='!signedIn'>
          <button class="example-spacer-right" type="button" mat-raised-button color="primary" [matMenuTriggerFor]="settingsMenu" matTooltip="Login/Register">Get started</button>
          <mat-menu #settingsMenu>
          <ng-template matMenuContent>
            <menu mat-menu-item><a routerLink='auth/login' mat-raised-button color="accent" aria-label="Login link">Login</a></menu>
            <menu mat-menu-item><a routerLink='auth/register' mat-raised-button color="accent" aria-label="Register link">Register</a></menu>
          </ng-template>
        </mat-menu>
        </ng-template>
        <ng-container *ngIf='signedIn'>
          <button class="example-spacer-right" type="button" mat-raised-button color="primary" [matMenuTriggerFor]="accountMenu" matTooltip="Profile/Log Out">Account
            <ng-container *ngIf='photo'>
              <img  width="25px" height="25px" [src]="photo | safe" style="border-radius: 15px;">
            </ng-container>
          </button>
          <mat-menu #accountMenu>
          <ng-template matMenuContent>
            <menu mat-menu-item><a routerLink='/' mat-raised-button color="accent" aria-label="Login link">Profile</a></menu>
            <menu mat-menu-item><a routerLink='/' mat-raised-button color="accent" aria-label="Register link" (click)='logoutUser()'>Log Out</a></menu>
          </ng-template>
        </mat-menu>
        </ng-container>
    </div>

  </div>
</mat-toolbar>
