.example-container {
  position: fixed;
  max-width: 200px;
  height: 100vh;
}

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
  width: 30px;
}

a{
  color: white;
  text-decoration: none;
}
