<div class="page">
  <div class="page__demo">
    <div class="page__group">
      <div class="rating">
        <input type="radio" name="rating-star" class="rating__control screen-reader" id="rc1" disabled>
        <input type="radio" name="rating-star" class="rating__control screen-reader" id="rc2" disabled>
        <input type="radio" name="rating-star" class="rating__control screen-reader" id="rc3" disabled>
        <input type="radio" name="rating-star" class="rating__control screen-reader" id="rc4" disabled>
        <input type="radio" name="rating-star" class="rating__control screen-reader" id="rc5" disabled>
        <label for="rc1" class="rating__item">
          <svg class="rating__star">
            <use xlink:href="#star"></use>
          </svg>
          <span class="screen-reader">1</span>
        </label>
        <label for="rc2" class="rating__item">
          <svg class="rating__star">
            <use xlink:href="#star"></use>
          </svg>
          <span class="screen-reader">2</span>
        </label>
        <label for="rc3" class="rating__item">
          <svg class="rating__star">
            <use xlink:href="#star"></use>
          </svg>
          <span class="screen-reader">3</span>
        </label>
        <label for="rc4" class="rating__item">
          <svg class="rating__star">
            <use xlink:href="#star"></use>
          </svg>
          <span class="screen-reader">4</span>
        </label>
        <label for="rc5" class="rating__item">
          <svg class="rating__star">
            <use xlink:href="#star"></use>
          </svg>
          <span class="screen-reader">5</span>
        </label>
      </div>
      <span class="page__hint" style="font-size: 18px;">Rating</span>
    </div>
  </div>
</div>
