<div class='showcase-container'>
  <div class="showcase-container-left">
    <div class="comments-container">
      <div class="comment">
        <section id='1' class="visible-content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Modi excepturi animi quam in saepe, ad dolore iure. Modi hic dicta ut asperiores dolore voluptatum, facilis ex accusantium maxime! Corporis, amet!</p>
            <img style="width: 150px; height: 150px; clip-path: circle(75px);" src="../../../assets/faces/1.jpg" >
        </section>
      </div>
      <div class="comment">
        <section id='2' class="hidden-content">
          <p>Ltur adipisicing elit.
            Modi excepturi animi quam in saepe, ad dolore iure. Modi hic dicta ut asperiores dolore voluptatum, facilis ex accusantium maxime! Corporis, amet!</p>
            <img style="width: 150px; height: 150px; clip-path: circle(75px);" src="../../../assets/faces/2.jpg" >
        </section>
      </div>
      <div class="comment">
        <section id='3' class="hidden-content">
          <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Modi excepturi animccusantium maxime! Corporis, amet!</p>
            <img style="width: 150px; height: 150px; clip-path: circle(75px);" src="../../../assets/faces/3.jpg" >
        </section>
      </div>
            <!-- <div (click)="status=!status"
    [ngClass]="status ? 'visible-content' : 'hidden-content' ">
     Some content
</div> -->
    </div>
    <div class="pagination">
      <div>
        <span (click)='displayComment(1)' style="color: #64DD17;" class="material-icons">
          fiber_manual_record
          </span>
      </div>
      <div>
        <span (click)='displayComment(2)' style="color: #64DD17;"  class="material-icons">
          fiber_manual_record
          </span>
      </div>
      <div>
        <span (click)='displayComment(3)' style="color: #64DD17;"  class="material-icons">
          fiber_manual_record
          </span>
      </div>
    </div>
  </div>
  <div class="showcase-container-right">
    <div class="text-container-right">
      <h2 class="mat-display-1">WE VALUE THE OPINION OF OUR CLIENTS</h2>
    </div>
  </div>

</div>
