.showcase-container{
  margin-top: 35px;
  background-color: white;
  width: 100%;
  height: 48vh;
  position: relative;
  display: flex;
}

p{
  font-style: italic;
}

svg{
  position: absolute;
  top: 0;
}

.showcase-container-left{
  border-radius: 0;
  background-color: #00796B;
  border-radius: 0px 45px 0px 0;
  color: white;
  width: 50%;
  display: flex;
  position: relative;
}

.comments-container{
  border-style: 10px solid red;
  width: 85%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 40px;
}

.visible-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
}

.hidden-content{
  display: none;
}

.pagination{
  background-color: #00796B;
  border-radius: 45px 45px 45px 45px;
  width: 15%;
  min-width: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.pagination span{
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
}

.showcase-container-right{
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.text-container-right{
  width: 90%;
}

.text-container-right h2{
  text-align: center;
}

.img-container img{
  display: block;
  margin-left: auto;
  margin-right: auto
}

@media screen and (max-width: 992px) {
  .showcase-container{
    flex-direction: column;
  }
  .showcase-container-left{
    width: 100%;
    order: 1;
    border-radius: 0;
  }
  .showcase-container-right{
    width: 100%;
    order: 0;
    margin-bottom: -30px;
    padding-left: 0;
  }
  .pagination{
    border-radius: 0;
   }
  svg{
    display: none;
  }
  .pagination{
    margin-top: 0px;
  }

}
