@import '~@angular/material/theming';
@include mat-core();

/* ======== Angular material custom themes ======== */
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Bree Serif'
);

@include angular-material-typography($custom-typography);

$my-custom-primary: mat-palette($mat-light-green, A700);
$my-custom-accent: mat-palette($mat-teal, 700);
$my-custom-warn: mat-palette($mat-lime);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($my-custom-theme);


.my-alternate-theme {
  $my-alternate-primary: mat-palette($mat-red);
  $my-alternate-accent: mat-palette($mat-green, 400);
  $my-alternate-warn: mat-palette($mat-grey);

  $my-alternate-theme: mat-light-theme($my-alternate-primary, $my-alternate-accent, $my-alternate-warn);

  @include angular-material-theme($my-alternate-theme);
}
